services:
  mongodb:
    image: mongo:8.0.17-noble
    container_name: mongodb
    restart: always
    volumes:
      - mongo_data:/data/db
      - ./database/scripts:/docker-entrypoint-initdb.d:ro

  backend:
    build:
      context: ./backend
    container_name: backend
    depends_on:
      - mongodb
    environment:
      - DB_HOST=mongodb
    restart: on-failure

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: always

volumes:
  mongo_data: